.jumbotron {
  margin-bottom: 0px;
  color: gray;
  text-shadow: black 0.2em 0.2em 0.2em;
  height: 200px;
}

.nav {
  color: gray;
  font-size: 2em;
}

a {
  color: black;
}

.video-list-items {
  font-size: medium;
}

span {
  font-size: 1.5em;
}

.bad {
  color: red;
}

.good {
  color: green;
}

.limitReached {
  margin-top: 50px;
  margin-bottom: 50px;
}

.topBox {
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-bottom: 20px;
}

.stats {
  color: #555;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
}

.favButton {
  margin-bottom: 25px;
}
