.jumbotron {
  margin-bottom: 0px;
  /*background-image: url(../images/theater-curtains.jpg);*/
  /*background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;*/
  color: gray;
  text-shadow: black 0.2em 0.2em 0.2em;
  height: 200px;
}

.nav {
  color: gray;
  font-size: 2em;
}

a {
  color: black;
}

.video-list-items {
  font-size: medium;
}

span {
  font-size: 1.5em;
}

.bad {
  color: red;
}

.good {
  color: green;
}

.limitReached {
  margin-top: 50px;
  margin-bottom: 50px;
}

.topBox {
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-bottom: 20px;
}

.stats {
  color: #555;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  padding-bottom: 20px;
}
