.jumbotron {
  margin-bottom: 0px;
  /*background-image: url(../images/theater-curtains.jpg);*/
  /*background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;*/
  color: gray;
  text-shadow: black 0.2em 0.2em 0.2em;
  height: 200px;
}

.nav {
  color: gray;
  font-size: 2em;
}

a {
  color: black;
}

.video-list-items {
  font-size: medium;
}
