<div>
  <span>Assign a Search Word to this video?</span><br>

  <!-- "Search Words" options drop-down menu -->
  <select ng-model="searchWord"
          ng-options="searchWord.parameter for searchWord in searchWords">
          <option value="">Search Words</option>
  </select>

  <!-- "Submit" button -->
  <button type="submit"
          class="btn btn-primary btn-sm"
          ng-click="assignSearchWord(searchWord, video)">Assign Search Word
  </button>
  <div ng-show="assigned && selectedID === video.id">
    <span class="good">Search word assigned</span>
  </div>
  <!-- Close "Assign Search Word" section -->
</div>
