<div class="container">
  <div ng-if="youTubeVideos != undefined">
    <h3>YouTube Search Results ({{ youTubeVideos.length }} Total)</h3>
      <ul ng-repeat="video in youTubeVideos | limitTo:10:index">
        <li class="row">

          <!-- "iFrame" section -->
          <div class="col-md-12 iFrames">
              <!-- Title -->
              <h4 class="video-list-items" >{{ video.snippet.title }}</h4>
              <div class="row">
                <!-- Thumbnail -->
                  <div  class="col-md-6"
                        ng-if="video.id !== selectedId">
                      <img
                        ng-src="{{ video.snippet.thumbnails.high.url }}"
                        alt="thumbnail image"
                        class="img-thumbnail img-fluid"
                        ng-click="showYouTubeVideo(video)">
                    </div>

                    <!-- iFrame -->
                    <div class="col-md-6"
                          ng-if="video.id == selectedId">>
                      <iframe
                        width="480"
                        height="360"
                        ng-src="{{ video.embedUrl }}"
                        frameborder="0"
                        allowfullscreen>
                      </iframe>
                    </div>

                  <!-- "Add Favorite" section -->
                  <div class="col-md-6">
                    <button ng-show="!video.isFavorite"
                            type="submit"
                            class="btn btn-primary btn-sm favButton"
                            ng-click="addFavorite(video)"
                            >Add to collection
                    </button>
                    <button ng-show="video.isFavorite"
                            ng-init="!already"
                            type="submit"
                            class="btn btn-success btn-sm favButton"
                            ng-click="alreadyFavorite(video)"
                            >In collection
                    </button>

                    <!-- "Already Favorite" section -->
                    <div ng-show="already && selectedID === video.id">
                      <span class="bad">Already a favorite.</span>
                    </div>

                    <!-- "Assign Search Word" section -->
                    <pk-assign-search-words ng-show="video.isFavorite"></pk-assign-search-words>

                    <!-- Close "Add Favorite" section -->
                  </div>
                  <!-- Close row for iFrame and button -->
                </div>

            <!-- "Video Statistics" section -->
            <div class="row">
            <div class="col-md-8 stats">
                <div class="row meta-data">
                  <div class="col-md-2">
                    <h4>Views:<br>{{ video.statistics.viewCount }}</h4>
                  </div>
                  <div class="col-md-2">
                    <h4>Likes:<br>{{ video.statistics.likeCount }}</h4>
                  </div>
                  <div class="col-md-2">
                    <h4>Dislikes:<br>{{ video.statistics.dislikeCount }}</h4>
                  </div>
                  <div class="col-md-2">
                    <h4>Comments:<br>{{ video.statistics.commentCount }}</h4>
                  </div>
                </div>
                  <div>
                    <h4>Channel: {{ video.snippet.channelTitle }}</h4>
                  </div>
                <!-- Close "Video Statistics" section -->
              </div>

            <!-- Close row for statistics section -->
          </div>
        </li>
      </ul>

      <!-- "Submit" button for next videos in list -->
      <button
              ng-show="!limitReached"
              type="submit"
              class="btn btn-primary btn-md limitReached"
              ng-click="increaseIndex(youTubeVideos)">Get More Videos
      </button>
      <span class="good limitReached" ng-show="limitReached">End of search results</span>
    </div>
  </div>
</div>
