<!-- Search page content -->
<div class="container">

  <h2 class="text-center">Favorites Page</h2>
    <div class="row">

      <!-- "Search" section -->
      <div class="col-md-6">
        <h3>Search Through Your Collection of Favorites</h3>

        <!-- "Search By" options drop-down menu -->
        <select ng-model="searchWord"
                ng-options="searchWord.parameter for searchWord in databaseSearchWords">
                <option value="">-- All --</option>
        </select>

        <!-- Submit button -->
        <button type="submit"
                class="btn btn-primary btn-sm"
                ng-click="getFavorites(searchWord)">Get Saved Videos</button>

        <!-- Close search section -->
      </div>

    <!-- "Edit Search Words" section -->
      <!-- "Create New Search Words" section -->
    <div class="col-md-6">
      <h3>Create New Search Words</h3>

      <!-- Search Word input field -->
      <input  type="text"
              ng-model="newSearchWord"
              placeholder="Enter new search word" />

      <!-- "Submit" button -->
      <button type="submit"
              class="btn btn-primary btn-sm"
              ng-click="addSearchWord()">Add Search Word</button>

      <!-- Close "Create New Search Words" section -->
    </div>

    <!-- "Delete Search Words" section -->
    <div class="col-md-6">
      <h3>Delete Search Words</h3>

      <!-- Search Word input field -->
      <select ng-model="searchWordToDelete"
              ng-options="searchWord.parameter for searchWord in databaseSearchWords">
              <option value="">Choose a Search Word</option>
      </select>

      <!-- "Submit" button -->
      <button type="submit"
              class="btn btn-primary btn-sm"
              ng-click="deleteSearchWord()">Delete Search Word</button>

      <!-- Close "Delete Search Words" section -->
    </div>

      <!-- Video list display section -->
      <div  class="col-md-12"
            ng-if="favVideos != undefined">
        <h3>Videos:</h3>
          <ul ng-repeat="favVideo in favVideos | orderBy : '-date_added'">
          <li class="row">

          <!-- iFrame/Thumbnail section -->
            <div class="col-md-12">

              <!-- Title -->
                <h4 class="video-list-items" >{{ favVideo.title }} {{ favVideo.favorite_id }}</h4>

          <div class="row">
              <!-- Thumbnail -->
                <div  class="col-md-6"
                      ng-if="favVideo.videoid !== selectedId">
                    <img
                      ng-src="{{ favVideo.thumbnail }}"
                      alt="thumbnail image"
                      class="img-thumbnail img-fluid"
                      ng-click="showVideo(favVideo)">
                  </div>

              <!-- iFrame -->
            <div  class="col-md-6"
                  ng-if="favVideo.videoid == selectedId">
                <div>
                  <iframe
                    width="480"
                    height="360"
                    ng-src="{{ favVideo.embedUrl }}"
                    frameborder="0"
                    allowfullscreen>
                  </iframe>
                </div>
              </div>

              <!-- "Assign Search Word" section -->
              <div class="col-md-4">
                <h3>Assign a Search Word to this video?</h3>

                <!-- "Search Words" options drop-down menu -->
                <select ng-model="searchWord"
                        ng-options="searchWord.parameter for searchWord in databaseSearchWords">
                        <option value="">Search Words</option>
                </select>

                <!-- "Submit" button -->
                <button type="submit"
                        class="btn btn-primary btn-sm"
                        ng-click="assignSearchWord(searchWord, favVideo)">Assign Search Word
                </button>

                <!-- Close "Assign Search Word" section -->
              </div>

                    <!-- "Delete Favorite" button -->
                    <div class="col-md-2">
                      <button type="submit"
                              class="btn btn-primary btn-sm"
                              ng-click="deleteFavorite(favVideo)">Delete</button>
                    </div>
                  </div>
              <!-- Close iFrame/Thumbnail section -->
            </div>

          <!-- Close video list display section -->
          </div>
            </li>
        </ul>

      <!-- Close wrapper row -->
    </div>

    <!-- Close search page content -->
</div>
