<!-- Search page content -->
<div class="container">
  <div class="row">

    <!-- "Search" section -->
    <div class="col-md-5 topBox">
      <h2>Search Your Favorites</h2>

        <!-- "Search By" options drop-down menu -->
        <select ng-model="searchWord"
                ng-options="searchWord.parameter for searchWord in databaseSearchWords">
                <option value="">-- All --</option>
        </select>

        <!-- Submit button -->
        <button type="submit"
                class="btn btn-primary btn-sm"
                ng-click="getFavorites(searchWord)">Get Saved Videos</button>

        <!-- Close search section -->
      </div>

      <!-- "Search Words Edit" section -->
      <div class="col-md-5 topBox pull-right">
        <pk-search-words-edit></pk-search-words-edit>
      </div>
    </div>

      <!-- Video list display section -->
      <div ng-if="favVideos != undefined">
        <h3>Videos:</h3>
          <ul ng-repeat="favVideo in favVideos | orderBy : '-date_added'">
          <li class="row">

          <!-- iFrame/Thumbnail section -->
            <div class="col-md-12">

              <!-- Title -->
                <h4 class="video-list-items" >{{ favVideo.title }} {{ favVideo.favorite_id }}</h4>

          <div class="row">
              <!-- Thumbnail -->
                <div  class="col-md-6"
                      ng-if="favVideo.videoid !== selectedId">
                    <img
                      ng-src="{{ favVideo.thumbnail }}"
                      alt="thumbnail image"
                      class="img-thumbnail img-fluid"
                      ng-click="showVideo(favVideo)">
                  </div>

              <!-- iFrame -->
            <div  class="col-md-6"
                  ng-if="favVideo.videoid == selectedId">
                <div>
                  <iframe
                    width="480"
                    height="360"
                    ng-src="{{ favVideo.embedUrl }}"
                    frameborder="0"
                    allowfullscreen>
                  </iframe>
                </div>
              </div>

              <!-- "Assign Search Words" section -->
              <div class="col-md-6">
                <pk-assign-search-words></pk-assign-search-words>
              <div>

                    <!-- "Delete Favorite" button -->
                    <div>
                      <button type="submit"
                              class="btn btn-primary btn-sm"
                              ng-click="deleteFavorite(favVideo)">Delete</button>
                    </div>
                  </div>
              <!-- Close iFrame/Thumbnail section -->
            </div>

          <!-- Close video list display section -->
          </div>
            </li>
        </ul>

      <!-- Close wrapper row -->
    </div>

    <!-- Close search page content -->
</div>
