<!-- Search page content -->
<div class="container">

  <h2 class="text-center">Welcome to YouTube VideoSearch!</h2>
    <div class="row">

      <!-- Search section -->
      <div class="col-md-6">
        <h3>Search for videos by keyword</h3>

        <!-- Search text field -->
        <input type="text"
                ng-model="keywords"
                placeholder="Enter keywords" />

        <!-- "Sort By" options drop-down menu -->
        <select ng-model="sortBy"
                ng-options="sortBy.parameter for sortBy in parameters">
          <option value="">Sort By:</option>
        </select>

        <!-- Submit button -->
        <button type="submit"
                class="btn btn-primary btn-sm"
                ng-click="getVideos()">Get Videos
        </button>

        <!-- Close search section -->
      </div>

      <!-- Video list display section -->
      <div class="col-md-12" ng-if="videos != undefined">
        <span>{{ videos }}</span>
        <h3>Videos:</h3>
          <ul ng-repeat="video in videos">
          <li class="row">

          <!-- iFrame section -->
            <div class="col-md-8">

              <!-- Title -->
                <h4 class="video-list-items" >{{ video.snippet.title }}</h4>

                <div class="row">
              <!-- iFrame -->
                  <div class="col-md-8">
                    <iframe
                      width="480"
                      height="360"
                      src="{{ video.embedUrl }}"
                      frameborder="0"
                      allowfullscreen>
                    </iframe>
                  </div>

                    <!-- "Add Favorite" button -->
                    <div class="col-md-4">
                      <button ng-show="!video.isFavorite"
                              type="submit"
                              class="btn btn-primary btn-sm"
                              ng-click="addFavorite(video)"
                              >Add to collection
                      </button>
                      <button ng-show="video.isFavorite"
                              ng-init="!alreadyFavorite"
                              type="submit"
                              class="btn btn-success btn-sm"
                              ng-click="alreadyFavorite = true"
                              >In collection
                      </button>
                      <div ng-show="alreadyFavorite">
                        <span>This video is already saved as a favorite.</span>
                      </div>
                      <div ng-if="favoriteAdded == true && selectedVideo == video.id">
                        <span>This video has been added to your favorites.</span>
                      </div>
                    </div>
                    <!-- close row for iFrame and button -->
                  </div>

              <div class="row">
              <div class="col-md-12">
                  <div class="row meta-data">
                    <div class="col-md-2">
                      <h4>Views:<br>{{ video.statistics.viewCount }}</h4>
                    </div>
                    <div class="col-md-2">
                      <h4>Likes:<br>{{ video.statistics.likeCount }}</h4>
                    </div>
                    <div class="col-md-2">
                      <h4>Dislikes:<br>{{ video.statistics.dislikeCount }}</h4>
                    </div>
                    <div class="col-md-2">
                      <h4>Comments:<br>{{ video.statistics.commentCount }}</h4>
                    </div>
                    <div class="col-md-4">
                      <h4>Channel:<br>{{ video.snippet.channelTitle }}</h4>
                    </div>
                  </div>
                </div>

              <!-- Close iFrame section -->
            </div>
            </li>
        </ul>

        <!-- Close video list display section -->
      </div>

      <!-- Close wrapper row -->
    </div>

    <!-- Close search page content -->
</div>
